
* {
  box-sizing: border-box;
}

html {
  font-family: Century Gothic;
  /*height: 100%*/
}

body {
  height: 100%;
}
.estyear p {
  text-align: center;
  margin-bottom: -1.278em;
  padding-bottom: 4px;
  padding-top: 3px;
  font-size: 0.938em;
  color: #666666;
}

nav {
  text-align: center;
  text-decoration: none;
}

nav li {
  display: inline-block;
  font-size: 3.5vh;
  font-weight: 900;
  margin-right: 1.875rem;
}

.primary_nav {
  clear: both;
  max-width: 100%;
  width: auto;
}

nav a {
  color: black;
  height: 2.500em;
  text-decoration: none;
  list-style-type: none;
}

h1 {
  text-align: center;
  max-width: 100%;
  width: auto;
  font-size: 1.25em;
  display: block;
  /*padding-bottom: 7px;*/
  vertical-align: bottom;
  clear: both;
}

.undertitle {
  text-align: center;
  margin-top: -19px;
  margin-bottom: 38px;
  font-size: 0.938rem;;
  color: #666666;
}

.section1 div{
    width: 30%;
    height: 170px;
    overflow: hidden;
    display: inline-block;
    margin: 2% 0 2% 2.5%;
    border-style: solid;
    border-color: red;
    border-width: 2px;
}

.section1 img {
  float: left;
  width: 100%;
}

.section2 img {
  float: left;
  margin-left: 2.5%;
  width: 30%;
  overflow: hidden;
  max-height: 170px;
}

img {

}

.aboutintro h2 {
  font-size: 20px;
  color: #FFFFFF;
}

.aboutintro p {
  color: #FFFFFF;
}

.aboutintro {
  padding: 45px;
  margin: 50px 0px 0px 234px;
  max-width: 50%;
  width: auto;
  border-left: 1px solid #FFCCCC;
  background-color: #FFCCCC;
}


.portfoliointro {
  padding: 45px;
  margin: 50px 0px 0px 234px;
  /*margin-left: 45px;*/
  /*height: 80px;*/
  max-width: 50%;
  width: auto;
  border: 1px solid #00FFCC;
  background-color: #00FFCC;
  /*box-shadow: 3px 4px 5px 6px #CCFFCC;*/
}

.portfoliointro h2 {
  font-size: 20px;
  color: #FFFFFF;
}

.portfoliointro p {
  color: #FFFFFF;
}

/*img {
  background-image: url("../images/flamingo2.png");
  background-repeat: no-repeat;
  background-position: center;
}*/

.picture1 {
  text-align: center;
  height: 286px;
  width: 250px;
  float: right;
  padding: 0.625rem;
  margin: -120px 281px 122px 38px;
}
.picture2 {
  background-image: url("../images/flamingo.png");
  background-repeat: no-repeat;
  background-position: center;
}
.github1 a {
  text-decoration: none;
  font-size: 1rem;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 120px 350px 30px 20%;
  clear: both;
}

.github1 {
  border-style: solid;
  border-color: #FFCCCC;
  background: #FFCCCC;
  color: #FFFFFF;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 18px 0px 18px 35px;
  margin: 30px 980px 30px 21%;
}

.github1 p {
  font-size: 1rem;
}

.bold p {
  font-weight: bold;
}

.github2 a {
  text-decoration: none;
  font-size: 1rem;
}

.github2 {
  border-style: solid;
  border-color: #FFCCCC;
  background: #FFCCCC;
  color: #FFFFFF;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 18px 0px 18px 45px;
  margin: 30px 980px 30px 21%;
}

.github2 p {
  font-size: 1rem;
}

.github3 a {
  text-decoration: none;
  font-size: 1rem;
}

.github3 {
  border-style: solid;
  border-color: #FFCCCC;
  background: #FFCCCC;
  color: #FFFFFF;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 18px 0px 18px 35px;
  margin: 30px 200px 30px 21%;
}

.github3 p {
  font-size: 1rem;
}

.h3tdd {
  font-weight: bold;
  font-size: 1.5rem;
  margin: -869px 350px 30px 70%;
  clear: both;
}

.github4 a {
  text-decoration: none;
  font-size: 1rem;
}

.github4 {
  border-style: solid;
  border-color: #FFCCCC;
  background: #FFCCCC;
  color: #FFFFFF;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 18px 0px 18px 35px;
  margin: 35px 980px 30px 66%;
}

.github4 p {
  font-size: 1rem;
}


.github5 a {
  text-decoration: none;
  font-size: 1rem;
}

.github5 {
  border-style: solid;
  border-color: #FFCCCC;
  background: #FFCCCC;
  color: #FFFFFF;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 18px 0px 18px 35px;
  margin: 35px 980px 30px 66%;
}

.github5 p {
  font-size: 1rem;
}


.github6 a {
  text-decoration: none;
  font-size: 1rem;
}

.github6 {
  border-style: solid;
  border-color: #FFCCCC;
  background: #FFCCCC;
  color: #FFFFFF;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 18px 0px 18px 35px;
  margin: 35px 980px 30px 66%;
}

.github6 p {
  font-size: 1rem;
}

footer {
  background-image: url("../images/feathers.png");
  padding-top: 0.75rem;
  margin-top: 500px;
  border-style: solid;
  border-color: #000000;
  color: #FFFFFF;
  font-size: 0.75rem;
}

.footer {
  padding-top: 60px;
  padding-left: 1.25rem;
}
