<section class="aboutintro">
<h2>WELCOME TO MY WEBSITE:</h2>
  <p>I am a student developer at Ada Developers Academy. My passions are to create and to faciliate harmonious exisitance in the world.
  I want to bridge the asthetics of color, design, and communication through the use of technology.
  My goal is to bring people together in ways that stimulate and intoxicate.</p>
</section>

<figure class="picture1">
  <img src="images/risha.jpg" alt="risha's face">
  <p><em>Risha A. Allen</em></p>
  <p>Software Developer Student</p>
</figure>
