<article>
  <section class="section1">
    <% @images_one.each do |image| %>
        <div><img src="images/<%=image %>"></div>
    <% end %>
  </section>

  <section class="section2">
    <% @images_two.each do |image| %>
        <div><img src="images/<%=image %>"></div>
    <% end %>
  </section>
</article>
