<!DOCTYPE HTML>

<html>
  <head>
    <title>Index Page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
    <section class="estyear"><p><em>est. 2016</em></p></section>
      <h1>MY SPACE</h1>
    <section class="undertitle"><p><em>Ada Developers Academy</em></p></section>
  </head>
      <nav>
        <li class="primary_nav"><a href="/home">HOME PAGE</a></li>
        <li class="primary_nav"><a href="/portfolio">PORTFOLIO</a></li>
        <li class="primary_nav"><a href="/code_journal">CODE JOURNAL</a></li>
        <li class="primary_nav"><a href="/about">ABOUT</a></li>
      </nav>
  </head>
    <body>
      <main>
        <%=yield %>
      </main>
    <footer>
      <section class="footer">
        <p>copyright 2016 Risha A. Allen</p>
      </section>
    </footer>
  </body>
</html>
