<div class="picture2">
  <section class="portfoliointro">
    <h2>MY PORTFOLIO:</h2>
    <p>I am a student developer at Ada Developers Academy. My passions are to create and to faciliate harmonious exisitance in the world.
    I want to bridge the asthetics of color, design, and communication through the use of technology.
    My goal is to bring people together in ways that stimulate and intoxicate the senses.</p>
  </section>

  <h3>CHECK THESE OUT!</h3>
  <article class="github1">
    <article class="bold">
      <p>Bank Account</p>
    </article>
    <p>Languages: Ruby</p>
    <a href="https://github.com/rishallen/BankAccounts">Code Access</a>
  </article>

  <article class="github2">
    <article class="bold">
      <p>FarMar</p>
    </article>
    <p>Languages: Ruby</p>
    <a href="https://github.com/rishallen/FarMar">Code Access</a>
  </article>

  <article class="github3">
    <article class="bold">
      <p>Solar System</p>
    </article>
    <p>Languages: Ruby</p>
    <a href="https://github.com/rishallen/Solar-System">Code Access</a>
  </article>
  <section class="h3tdd">
    <h3>TDD!</h3>
  </section>
  <article class="github4">
    <article class="bold">
      <p>Robot Name</p>
    </article>
    <p>Languages: Ruby</p>
    <a href="https://github.com/rishallen/weekend-warrior/tree/master/04-robot-name">Code Access</a>
  </article>

  <article class="github5">
    <article class="bold">
      <p>12 Days</p>
    </article>
    <p>Languages: Ruby</p>
    <a href="https://github.com/rishallen/weekend-warrior/tree/master/02-12Days">Code Access</a>
  </article>

  <article class="github6">
    <article class="bold">
      <p>Hamming</p>
    </article>
    <p>Languages: Ruby</p>
    <a href="https://github.com/rishallen/weekend-warrior/tree/master/03-hamming">Code Access</a>
</article>
</div>
